
<div class="container">
	<h2 class="title">Welcome To PhotoGram</h2><br><br>
	<%= link_to "SignUp", new_account_registration_path, class: "btn btn-success" %>
	<br><br>
	<%= link_to "LogIn", new_account_session_path, class: "btn btn-primary" %>
</div>